<div class="table-container height-100 width-100">
  <div class="table-row inner-toolbar">
    <mat-toolbar class="inner-toolbar">Task 1</mat-toolbar>
  </div>  
  <div class="table-row">
    <mat-grid-list cols="2" rowHeight="fit" class="height-100" gutterSize="1px">
      <mat-grid-tile>
        <div class="height-100 width-100" style="background-color:red;">Hola</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="height-100 width-100" style="background-color:blue;">Hola</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="height-100 width-100" style="background-color:yellow;">Hola</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="height-100 width-100" style="background-color:green;">Hola</div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

