<div class="table-container height-100 width-100">
  <div class="table-row height-100">
    <mat-grid-list cols="2" rowHeight="fit" class="height-100" gutterSize="20px">
      <mat-grid-tile [rowspan]="2">
        <ngx-charts-bar-vertical [results]="chartData.values" [scheme]="chartData.colorScheme" [xAxis]="true" [yAxis]="true"
          [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="chartData.xAxis" [yAxisLabel]="chartData.yAxis">
        </ngx-charts-bar-vertical>
      </mat-grid-tile>
      <mat-grid-tile>
        <ngx-charts-linear-gauge [value]="chartData.lastValue" [scheme]="chartData.lastColorScheme" [min]="0" [max]="chartData.maxValue"
        [units]="chartData.yAxis"></ngx-charts-linear-gauge>
      </mat-grid-tile>
      <mat-grid-tile>
        <ngx-charts-number-card [results]="chartData.values" [scheme]="chartData.colorScheme">
        </ngx-charts-number-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

