/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

html, app-root {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ddd;
    margin: 0px;
}

.padded-content-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}