mat-card {
    margin: 20px auto;
    text-align: justify;
    max-width: 800px;
}

h3, h5 {
    text-transform: uppercase;
}

.issue-code {
    margin-left: 5px;
    font-weight: bold;
}

.list-group {
    margin-bottom: 20px;
}